@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.top-news__wrapper,
.main__container {
  font-family: "Playfair Display", serif;
}

.top-news__wrapper {
  /* background: url("../img/photo.jpg") top/cover no-repeat; */
  min-height: 450px;
  height: minmax(450px, 50vh);
}

.top-news__container {
  height: 100%;
  padding-top: 13.5rem;
}

.top-news__container > div {
  width: 50%;
  max-width: 600px;
  min-width: calc(320px - (1.5rem * 2));
  cursor: pointer;
}

.top-news__container p,
.top-news__heading {
  color: var(--white);
}

.main__container {
  font-family: "Playfair Display", serif;
  display: flex;
  row-gap: 1rem;
  flex-flow: row wrap;
}

.main__news-wrapper {
  flex: 1;
  border-left: 1px solid #000;
  min-width: 250px;
}

.main__news-wrapper:first-of-type {
  border: none;
}

.main__news-container {
  width: 85%;
}

.main__news-container--1 {
  margin-right: auto;
}

.main__news-container--2 {
  margin-left: auto;
  margin-right: auto;
}

.main__news-container--3 {
  margin-left: auto;
}

.main__news-item {
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.main__news-item--author {
  margin-bottom: 1rem;
  color: var(--accent);
}

.main__news-item--img,
.main__news-link {
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main__news-item--date {
  color: var(--accent);
}

.main__news-item--category {
  color: var(--accent);
}

.main__news-item--desc {
  line-height: 27px;
}

.main__news-link:not(.main__news-link.main__news-link--heading) {
  text-decoration: none;
  color: var(--accent);
}

.main__news-link:not(.main__news-link.main__news-link--heading):hover {
  /* text-decoration: underline; */
  color: var(--black);
}

.main__news-link:hover {
  text-decoration: none;
  color: var(--accent);
}

@media (max-width: 821px) {
  .top-news__container > div {
    width: 80%;
  }

  .main__news-container--2 {
    margin-right: 0;
  }

  .main__news-container--3 {
    width: 100%;
    margin: 0 auto;
  }

  .main__news-wrapper--3,
  .main__news-container--3 > .main__news-item:last-child {
    border: none;
  }
}

@media (max-width: 571px) {
  .main__news-wrapper--2 {
    border: none;
  }

  .main__news-container--1,
  .main__news-container--2 {
    width: 100%;
    margin: 0 auto;
  }
}
