.nav--pagination__container {
  font-family: "Gentium Plus", serif;
  font-weight: bold;
  margin-top: 3rem;
  width: 100%;
}

.pagination__container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.pag_list_item {
  color: #777;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.pag_list_item:focus,
.pag_list_item:hover,
.pag_list_item--active {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0.1);
}

.pag_list_item--hidden {
  visibility: hidden;
}
